include ../layout.jade

h1 User Bands:

ul
  each band in bands
    li= band.name
      ul
        li= band.bio
        li= band.img
        li= band.website
        li= band.creator
    form(name="deleteBand", method="POST", action="/bands/#{band.id}?_method=DELETE")
        div.actions
            input(type="submit", value="Delete Band")
    a(href='/bands/#{band.id}/edit') EDIT THIS BAND
    br
    br
