include ../layout.jade

h1 hi from user views
h1 show user bands here

ul
  each band in bands
    li= band.name
      ul
        li= band.bio
        li= band.img
        li= band.website
        li= band.creator
