.input-field.col.s12
    label(for='name') Band Name
    input(id='name', type="text", name="name", value="#{band.name}")
.input-field.col.s12
    label(for='bio') Bio
    textarea.materialize-textarea(id="bio", name="bio",
    value="#{band.bio}")
.input-field.col.s6
    label(for='img') Img Url
    input(id="img" type="text", name="img",
    value="#{band.img}")
.input-field.col.s6
    label(for='website') Band Website
    input(id='website', type="text", name="website",
    value="#{band.website}")
button.btn.waves-effect.waves-light(type="submit" name='action') Submit
        i.material-icons.right send

