h1 Show band view
p show a band here

ul
  li=band.name
  li= band.id
  li= band.bio
  li= band.img
  li= band.website

a(href='/bands/#{band.id}/edit') EDIT THIS BAND
br
a(href='/bands') Back to Bands
